<div class="container mt-4">
  <div class="card shadow-lg rounded">
    <div class="card-header d-flex justify-content-between align-items-center bg-dark text-white">
      <h4 class="mb-0"><i class="fas fa-user-edit"></i> Actualizar Usuario</h4>
      <a routerLink="/users" class="btn btn-success btn-sm">
        <i class="fas fa-arrow-circle-left"></i> Volver
      </a>
    </div>

    <div class="card-body">
      <form [formGroup]="userForm" (ngSubmit)="saveUser()">
        <div class="mb-3">
          <label for="firstName" class="form-label">Nombre<span class="requiredStar">*</span></label>
          <input id="firstName" type="text" class="form-control" formControlName="firstName" />
        </div>

        <div class="mb-3">
          <label for="lastName" class="form-label">Apellido<span class="requiredStar">*</span></label>
          <input id="lastName" type="text" class="form-control" formControlName="lastName" />
        </div>

        <div class="mb-3">
          <label for="rut" class="form-label">RUT<span class="requiredStar">*</span></label>
          <input id="rut" type="text" class="form-control" formControlName="rut" />
        </div>

        <div class="mb-3">
          <label for="dv" class="form-label">DV<span class="requiredStar">*</span></label>
          <input id="dv" type="text" class="form-control" formControlName="dv" />
        </div>

        <div class="mb-3">
          <label for="birthDate" class="form-label">Fecha de nacimiento<span class="requiredStar">*</span></label>
          <input id="birthDate" type="date" class="form-control" formControlName="birthDate" />
        </div>

        <div class="mb-3">
          <label for="emailAddress" class="form-label">Correo<span class="requiredStar">*</span></label>
          <input id="emailAddress" type="email" class="form-control" formControlName="emailAddress" />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña<span class="requiredStar">*</span></label>
          <input id="password" type="password" class="form-control" formControlName="password" />
        </div>

        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">
            <i class="fas fa-check-circle"></i> Actualizar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>